[build]
builder = "nixpacks"
buildCommand = "chmod +x scripts/build.sh && ./scripts/build.sh"

[deploy]
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
